*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #020285);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #020285);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: clamp(20px, 2vw, 20px) 20px 20px;
}

/* COLORS */
.td--sector {
    color: white;
    font-weight: 600;
}
.td--sector[data-color="rose"]{
    background-color: #cf909a;
}

.td--sector[data-color="vert"]{
    background-color: #06a306;
}

.td--sector[data-color="jaune"]{
    background-color: #dfdf16;
    color: black;
}

.td--sector[data-color="orange"]{
    background-color: #ffa500;
}

.active {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
}

main {
    margin-top: 20px;
}

.container {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: white;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    background-image: url("../img/LogoLaforet.png");
    background-repeat: no-repeat;
    background-size: clamp(200px, 25vw, 250px);
}

.container h1 {
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
    font-weight: normal;
    font-size: clamp(30px, 4vw, 40px);
}

.radio-group{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radio-group input[type="radio"] {
    opacity: 0;
    pointer-events: none;
}

.radio-group label {
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 300ms;
}

.radio-group label:hover {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}

.sectors input[type="text"]{
    font-size: 1.1rem;
    width: 90%;
    padding: 5px 0 5px 20px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    transition: transform 300ms;
    margin-top: 20px;
}

.sectors input[type="text"]:focus{
    outline: none;
    transform: scale(1.05);
}

/*TABLE*/
.sectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sectors table {
    border: 1px solid black;
    opacity: 0;
}

.sectors table th, .sectors table td {
    border: 1px solid black;
    padding: 5px 10px;
}

tbody tr td:nth-child(2){
    text-transform: capitalize;
}

.td--gmap {
    color: #000046;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 660px) {
    .radio-group{
        gap: 0.5rem;
    }
    .th--interval, .td--interval,
    .th--city, .td--city,
    .th--sector, .td--sector {
        display: none;
    }
    .container{
        padding-top: 60px;
        background-position-x: center;
    }
    }